---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Find the £ to zł conversion rate">
	<div class="flex flex-col gap-8">
		<div>
			<div>
				Pound to złoty
			</div>
			<div>
				1 GBP = 5.25 PLN
			</div>
		</div>
		<div>
			<div>
				Złoty to Pound
			</div>
			<div>
				1 PLN = 0.19 GBP
			</div>
		</div>
	</div>
</Layout>